.hero {
  background-image: url("../../images/dekstop/background_img.png");
  height: 92vh;

  h1,
  h2 {
    color: $secondry;
    padding-left: 55px;
  }

  h1 {
    font-size: 65px;
  }

  h2 {
    padding-top: 205px;
    font-size: 22px;
  }

  h3 {
    color: $yellow;
    font-size: 19px;
    padding-left: 55px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-y: hidden;

    .nav {
      background-color: transparent;
    }

    .hero {
      background-image: url("../../images/mobile/background_img.png");

      h1,
      h2,
      h3 {
        padding-left: 35px;
      }

      h1 {
        font-size: 40px;
        line-height: 45px;
      }
      h2 {
        font-size: 20px;
        padding-top: 178px;
      }
      h3 {
        padding-top: 13px;
      }

      .social {
        display: flex;
        justify-content: flex-end;

        &__links {
          display: flex;
          width: 50%;
          justify-content: space-around;
          padding: 105px 5px 35px 0;
          margin-right: 30px;
          margin-top: 75px;

          li {
            list-style-type: none;

            a {
              text-decoration: none;
              border-radius: 50%;
              color: $primary;
              height: 35px;
              width: 35px;
              display: block;
              background: $secondry;
              text-align: center;
              transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
              // box-shadow: 0 10px 10px rgba($color: #eeeeee, $alpha: 0.1);

              &:hover {
                color: $white;
              }

              i {
                font-size: 20px;
                line-height: 35px;
              }
            }
          }
        }

        .github:hover {
          background: #333;
        }

        .linkedin:hover {
          background: #0077b5;
        }

        .behance:hover {
          background: #053eff;
        }

        .dribbble:hover {
          background: #f082ac;
        }
      }
    }
  }
}
